.footer-container{
    a {
        margin: 5px;
    }
    
    footer {
        /*position: fixed;
        bottom: 0;
        left: 50%;
        margin-left: -37.5%;
        width: 75%;*/
       
     }
    
    /* Facebook */
    .fa-facebook {
        background: #3B5998;
        color: white;
    }
     
    /* Twitter */
    .fa-twitter {
        background: #55ACEE;
        color: white;
    }
    
    
    /* Linkedin */
    .fa-facebook {
        background: #3B5998;
        color: white;
    }
}

